.example-form {
    min-width: 150px;
    max-width: 1500px;
    width: 100%;
    margin-left: 3%;
    margin-top: 3%;
    
  }
  
  .example-full-width {
    width: 100%;
    /* margin-left: 3%; */
    
  }

  .example-full-width2 {
    width: 38%;
    
    
  }

  .example-full-width3 { 
    width: 38%;
    margin-left: 4%;
    
  }

  .example-full-width4 { 
    width: 25%;
    margin-right: 2%;
    
  }


  td {
    padding-right: 8px;
  }

  .full{
      width: 100%;
      text-align: center;
  }
  
  .btn{
    font-size: 24px;
    margin: 5px;
    padding: 5px;    
  }

  .botn{
    border: 2px solid rgb(110, 108, 108);
  }

  .boton-foto{
    font-size: 24px;
    padding: 5px;
  }

  
  .example-container {
    width: 100%;
    height: 100%;
    border: 1px solid #555;
  }

  .sidebarClase{
    width: 250px;
  }

  .mat-card{
    height: 100%;
    width: 100%;
  }
body{
  height: auto !important;
}
.mat-typography{
  height: auto !important;

}


.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
mat-sidenav{
width: 15%;
}