<app-menu></app-menu>

<mat-grid-list cols="4" rowHeight="2:1">

    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-title>Atleta</mat-card-title>
            <mat-card-content>
              <p><strong>Referido por: </strong></p>
              <p><strong>Atendido por: </strong></p>
              
            </mat-card-content>
            <mat-card-actions>
              <button mat-flat-button color="primary" >Mas detalles </button>
              
            </mat-card-actions>
        </mat-card>

    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card">
          <mat-card-title>Atleta</mat-card-title>
          <mat-card-content>
            <p><strong>Referido por: </strong></p>
            <p><strong>Atendido por: </strong></p>
            
          </mat-card-content>
          <mat-card-actions>
            <button mat-flat-button color="primary" >Mas detalles </button>
            
          </mat-card-actions>
      </mat-card>

  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
        <mat-card-title>Atleta</mat-card-title>
        <mat-card-content>
          <p><strong>Referido por: </strong></p>
          <p><strong>Atendido por: </strong></p>
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="primary" >Mas detalles </button>
          
        </mat-card-actions>
    </mat-card>

</mat-grid-tile>

<mat-grid-tile>
  <mat-card class="example-card">
      <mat-card-title>Atleta</mat-card-title>
      <mat-card-content>
        <p><strong>Referido por: </strong></p>
        <p><strong>Atendido por: </strong></p>
        
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" >Mas detalles </button>
        
      </mat-card-actions>
  </mat-card>

</mat-grid-tile>


    
    

</mat-grid-list>