<app-menu ></app-menu>

<div class="container">

    <div class="row">

        <div class="col-md-4 col-sm-12 mt-3">
    
            <section class="example-section col-md-4 col-sm-12" [formGroup]="formulario">
                <h4><strong>Hematologia: </strong></h4>
                <p><mat-checkbox color="primary" >Hemograma completo</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Eritrosedimentacion</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Conteo de plaquetas</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Conteo de eosinofilos</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Eosinofilos en la sangre</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Conteo de reticulocitos</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Falsemia</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Investigacion de Hematozoarios</mat-checkbox></p>
                
                <mat-divider></mat-divider>
    
                <h4><strong>Coagulacion: </strong></h4>
                <p><mat-checkbox color="primary" >Tiempo de sangria</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Tiempo de coagulacion</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Tiempo de protombina</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Fibrinogeno</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Tipificacion sanguinea</mat-checkbox></p>
    
                <mat-divider></mat-divider>
    
                <h4><strong>Prueba de embarazo: </strong></h4>
                <p><mat-checkbox color="primary" >Prueba de embarazo de sangre</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Prueba de embarazo de orina</mat-checkbox></p>
                
                <mat-divider></mat-divider>
    
                <h4><strong>Uroanalisis: </strong></h4>
                <p><mat-checkbox color="primary" >Examen general de orina</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Proteina en la orina 24/h</mat-checkbox></p>
                
                <mat-divider></mat-divider>
    
                <h4><strong>Depuracion: </strong></h4>
                <p><mat-checkbox color="primary" >Depuracion creatina orina 24/h</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Depuracion proteina orina 24/h</mat-checkbox></p>
                
                <mat-divider></mat-divider>
    
                <h4><strong>Coprologico: </strong></h4>
                <p><mat-checkbox color="primary" >Coprologico</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Sangre oculta</mat-checkbox></p>
                <p><mat-checkbox color="primary" >So amebas</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Quistes y amebas</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Amebas y glardias</mat-checkbox></p>
    
                <mat-divider></mat-divider>
    
                <h4><strong>Inmonologia: </strong></h4>
                <p><mat-checkbox color="primary" >V.D.R.L.</mat-checkbox></p>
                <p><mat-checkbox color="primary" >FTA. ABS.</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Factor Reumatoide</mat-checkbox></p>
                <p><mat-checkbox color="primary" >P.C.R.</mat-checkbox></p>
                <p><mat-checkbox color="primary" >ASO</mat-checkbox></p>
                <p><mat-checkbox color="primary" >PPD</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Monolest</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Grammaglobulinas</mat-checkbox></p>
                <p><mat-checkbox color="primary" >a) lgG b) lgA</mat-checkbox></p>
                <p><mat-checkbox color="primary" >c) lgM d) lgE</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Test de cooms</mat-checkbox></p>
            </section>

        </div>

        <div class="col-md-4 col-sm-12 mt-3">
    
            <section class="example-section"  [formGroup]="formulario">
    
                <p><mat-checkbox color="primary" >Toxoplasmosis IGG-IGM</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Tuberculina</mat-checkbox></p>
                <p><mat-checkbox color="primary" >HIV</mat-checkbox></p>
                
                <mat-divider></mat-divider>
    
                <h4><strong>Quimica sanguinea: </strong></h4>
                <p><mat-checkbox color="primary" >Glicemia</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Curva tolerancia a la lactosa</mat-checkbox></p>
                <p><mat-checkbox color="primary" >HDL LDL VLDL</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Colesterol</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Triglecerido</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Acido urico</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Lipidos totales</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Fostolipidos</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Electroforesis de hemoglobina</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Electroforesis de proteina</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Electrolitos</mat-checkbox></p>
                <p><mat-checkbox color="primary" >a) NA b) Cl c) calcio</mat-checkbox></p>
                <p><mat-checkbox color="primary" >d) Fosforo e) Potasio</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Urea total</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Creatinina</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Proteinas totales</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Bilirrubina</mat-checkbox></p>
                <p><mat-checkbox color="primary" >TGO TGP</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Fosfatasa acida</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Fosfatasa Alcalina</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Amilasa</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Lipasa</mat-checkbox></p>
                <p><mat-checkbox color="primary" >L.D.H</mat-checkbox></p>
                <p><mat-checkbox color="primary" >C.P.K.</mat-checkbox></p>
                <p><mat-checkbox color="primary" >CK.M.B</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Albumina</mat-checkbox></p>
    
    
                
                <mat-divider></mat-divider>
    
                <h4><strong>Bacteriologia: </strong></h4>
                <p><mat-checkbox color="primary" >Urocultivo</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Cultivo de garganta</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Coprocultivo</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Hemocultivo</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Cultivo de secrecion</mat-checkbox></p>
                <p><mat-checkbox color="primary" >PPD</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Monolest</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Antig. Australiano (HBSAG)</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Antigenos febriles</mat-checkbox></p>
                <p><mat-checkbox color="primary" >Anticuerpos antinucleares</mat-checkbox></p>
    
            </section>

        </div>
    
        <div class="col-md-2 col-sm-12 mt-3">
            
            <section class="example-section" [formGroup]="formulario">
                            <h4><strong>Radioinmunoensayo (Hormona): </strong></h4>
                            <p><mat-checkbox color="primary" >T3 T4 T4 libre</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >FSH</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >LH</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >TSH</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >Perfil tiroideo</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >Progesterona</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >Testosterona</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >C3 C4</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >Protombina</mat-checkbox></p>
                            
                            <mat-divider></mat-divider>
                
                            <h4><strong>Pruebas especiales: </strong></h4>
                            <p><mat-checkbox color="primary" >Antigenos (Hbe-AG)</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >Anti-Tipo Ant. TG</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >Anti HAVTGG</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >Anti HV. IGM</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >Anti HBCIGG</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >Anti HBE</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >Hierro B12</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >Dengue IGG IGM</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >PSA libre</mat-checkbox></p>
                            <p><mat-checkbox color="primary" >PSA </mat-checkbox></p>
                            <p><mat-checkbox color="primary" >Hemoglobina Gilcosilada </mat-checkbox></p>
                            <p><mat-checkbox color="primary" >Elc. de hemoglobina </mat-checkbox></p>
                            <p><mat-checkbox color="primary" >CEA </mat-checkbox></p>
                            <p><mat-checkbox color="primary" >HVC </mat-checkbox></p>
                            <p><mat-checkbox color="primary" >PCR para covid </mat-checkbox></p>
                            <p><mat-checkbox color="primary" >IGG - IGM para cov2 cuantistiva </mat-checkbox></p>
                            <p><mat-checkbox color="primary" >Albumina </mat-checkbox></p>
                
                            <mat-divider></mat-divider>
                
                            <mat-form-field appearance="fill">
                                <mat-label>Otras:</mat-label>
                                <textarea matInput cols="20" rows="5" class="textarea"></textarea>
                            </mat-form-field>
                
                            <br>
                            <button color="primary" type="submit" mat-raised-button class="btn">Enviar</button>
            </section>

        </div>
    </div>
    
 </div>
    
 




  
  
  