<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
    <mat-toolbar color="primary" class="example-toolbar">

        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
     
        <mat-toolbar color="primary" style="justify-content: space-between;">
            <span>Medico general</span>
            <button mat-flat-button color="primary" style="float: left;" (click)="CerrarSesion()"> Cerrar sesion</button>
            
            <!-- <button mat-flat-button color="primary" (click)="atletas()">Atletas</button> -->
            
        </mat-toolbar>
        

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <a mat-list-item (click)="atletasR()"> 
                    <span style="display: inline-block; vertical-align: middle;">
                      <span class="material-symbols-outlined">
                        sports_baseball 
                        </span>
                    </span>
                    <span style="display: inline-block; vertical-align: middle;">Atletas</span>
                  </a>
                
                <a mat-list-item (click)="turnos()">
                  <span style="display: inline-block; vertical-align: middle;">
                    <span class="material-symbols-outlined">
                      wc
                    </span>
                  </span>
                  <span style="display: inline-block; vertical-align: middle;">Turnos</span>
                </a>
                
                <a mat-list-item (click)="resumen()" >
                  <span style="display: inline-block; vertical-align: middle;">
                    <span class="material-symbols-outlined"> 
                       export_notes
                    </span>
                  </span>
                  <span style="display: inline-block; vertical-align: middle;">Resumen</span>
                </a>
                

            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <h2>Detalles de la consulta</h2>
            <mat-card>

                <!-- <form class="example-form" [formGroup]="formulario" (ngSubmit)="enviar()"> -->



                    <h3 class="text-white">Datos personales</h3>


                    <table class="example-full-width" cellspacing="3">
                        <tr class="row">

                            <td class="col-md-2 col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Nombres</mat-label>
                                    <input class="text-white" disabled value="{{Detalleconsulta.athlete.name}}" matInput type="text">
                                </mat-form-field>
                            </td>

                            <td class="col-md-2 col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Apellidos</mat-label>
                                    <input class="text-white" disabled value="{{Detalleconsulta.athlete.lastName}}" matInput
                                        type="text">
                                </mat-form-field>
                            </td>


                            <td class="col-md-1 col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Disciplina</mat-label>
                                    <input disabled class="text-white" value="{{Detalleconsulta.athlete.discipline.name}}" matInput
                                        type="text">
                                </mat-form-field>
                            </td>


                        </tr>
                    </table>
                    <h3 class="text-white">Datos de la consulta</h3>

                    <table class="example-full-width" cellspacing="3">
                        <tr >

                            <td class="col-md-6 col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Motivo de la consulta:</mat-label>
                                    <textarea class="text-white" matInput formControlName="reason" value="{{Detalleconsulta.reason}}" disabled="true" rows="5"></textarea>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6 col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Descripcion y tratamiento:</mat-label>
                                    <textarea class="text-white" matInput formControlName="notes" value="{{Detalleconsulta.notes}}" disabled="true" rows="5"></textarea>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-6 col-sm-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Dx Medico:</mat-label>
                                    <textarea class="text-white" matInput formControlName="diagnostic" value="{{Detalleconsulta.diagnostic}}" disabled="true"rows="5"></textarea>
                                </mat-form-field>
                            </td>

                        </tr>
                    </table>

                    <table class="example-full-width" cellspacing="3">
                        <tr class="row">

                            <!-- <td class="col-md-6 col-sm-12">
                <mat-form-field class="example-full-width">
                    <mat-label>Manejo y tratamiento</mat-label>
                    <textarea class="text-white" matInput formControlName="manejoYTratamientoConsulta"
                        rows="5"></textarea>
                </mat-form-field>
            </td> -->

                        

                        </tr>
                    </table>

                    <table class="example-full-width" cellspacing="3">
                        <tr class="row">

                            <td class="col-md-4 col-sm-12">


                            <td>

                            <td>
                            </td>

                        </tr>
                    </table>

            </mat-card>

        </mat-sidenav-content>
    </mat-sidenav-container>
</div>